myenv/
.vagrant/
open5gs/packer/open5gs/packer_cache/*
*.iso
*.lock
open5gs/vagrant/06_srsran/open5gs_config/*
open5gs/ueransim_vagrant/data/*
open5gs/Open5gs_vagrant/open5gs_config/*
# Log files (if you are creating logs in debug mode, uncomment this)
*.log
packer/